@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
}

.title {
    font-weight: bolder;
    font-size: x-large;
}

.subtitle {
    font-weight: 1100;
    font-size: larger;
}

.button {
    background-color: pink;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: black;
    padding: 20px 20px;
    transition: ease 1s;
}

.button:focus {
    background-color: black;
    padding: 20px 20px;
    outline: blue;
    transition: ease 1s;
}

hr {
    height: 1.5px;
    background-color: #c7c7c7;
    border: none;
}